@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-slide-left {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-slide-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #dc2626; /* hover:bg-red-600 */
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.btn-slide-left:hover:before {
  width: 100%;
}
